nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9a85e;
}

.TakeTrip {
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.text {
    width: 80%;
    padding: 2rem;
}

.container {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {

    width: 50%;
    padding: 3rem;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    text-align: center;

}

.containera {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerb {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerc {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container3 h2 {
    text-align: center;
}

.imagea {
    width: 50%;
    padding: 3rem;
}

.imageb {
    width: 50%;
    padding: 3rem;
}

.imagec {
    width: 50%;
    padding: 3rem;
}

.container4 {
    text-align: center;
}

.text7 h1 {
    text-align: center;

}